
<div padding>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <!-- <label class="logo">White Hat Gaming </label> -->
    <ul>
      <li> <a routerLink="topgames" routerLinkActive="active">Top Games </a> </li>
      <li> <a routerLink="newgame" routerLinkActive="active">New Games </a> </li>
      <li> <a routerLink="slots" routerLinkActive="active">Slot </a> </li>
      <li> <a routerLink="jackpots" routerLinkActive="active">Jackpots</a> </li>
      <li> <a routerLink="live" routerLinkActive="active">Live</a> </li>
      <li> <a routerLink="blackjack" routerLinkActive="active">Blackjack</a> </li>
      <li> <a routerLink="roulette" routerLinkActive="active">Roulette</a> </li>
      <li> <a routerLink="table" routerLinkActive="active">Table</a> </li>
      <li> <a routerLink="pocker" routerLinkActive="active">Pocker</a> </li>
      <li> <a routerLink="other" routerLinkActive="active">Other</a> </li>
    </ul>
  </nav>
</div>

<br><br><br><br>
<!-- <app-games></app-games> -->

<router-outlet></router-outlet>