<div class="container">
  <div class="row">
    <div *ngFor="let game of games "  >
      <div *ngFor="let categories of game.categories " >
        <div *ngIf="!((categories == 'blackjack') || (categories == 'top') || (categories == 'slots')|| (categories == 'new')|| (categories == 'poker') || (categories == 'roulette') || (categories == 'table') || (categories == 'jackpots'))" class="col shadow p-1 mb-5 bg-white rounded">
          <img src="{{game.image}}">
        </div>
      </div>
    </div>
  </div>
  <br>
</div>